
# Port the Express server listens on.
PORT=4000


# GitHub Pages: https://your-username.github.io
CLIENT_ORIGIN=https://ruwbi.github.io
SESSION_SECRET=4c3071b2b9bbc8ccea8c52b11c2452bc
RESEND_API_KEY=re_P8tqKvxX_DoN14FyeYB4uBpVpAwL7DkxK
EMAIL_FROM="FlipStudy <onboarding@resend.dev>"

